<%= react_component 'Login' %>
<%= form_for :session do |f| %>

    <%= f.text_field :email, type: 'email' %>

    <%= f.password_field :password %>

    <%= f.submit "Iniciar Sesión" %>
<% end %>
<ul>
  <li><%= link_to "Olvidaste tu contraseña?", reset_path %></li>
  <li><%= link_to "No tenés una cuenta? Registrate", sign_up_path %></li>
  <li><%= link_to "Eres una Ong?", ong_sign_in_path %></li>
</ul>
