<h1> Crear un nuevo post </h1>
<div class="container">
  <%= form_for @post, url: {action: "create"} do |f| %>
    <div class="form">
      <li class="inputBox"><%= f.text_field :title, placeholder: "Título",class: "input_text"%>
      <% @post.errors[:title].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>
      </li>

      <li class="inputBox"><%= f.text_field :descPst, placeholder: "Descripción",class: "input_text"%>
      <% @post.errors[:descPst].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>
      </li>

      <li class="inputBox"><%= f.text_field :lugar, placeholder: "Lugar",class: "input_text" %>
      <% @post.errors[:lugar].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>
      </li>

      <li class="inputBox"><%= f.number_field :cantMin,step:1, placeholder: "Cantidad minima de participantes",class: "input_text" %>
      <% @post.errors[:cantMin].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>
      </li>

      <li class="inputBox"><%= f.number_field :cantMax,step:1, placeholder: "Cantidad maxima de participantes",class: "input_text" %>
      <% @post.errors[:cantMax].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>
      </li>

      <li class="inputBox"><%= f.number_field :exp,step:10, placeholder: "Experiencia dada",class: "input_text" %>
      <% @post.errors[:exp].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>
      </li>

      <!––#Falta poner fecha e imagen––>

      <li id="submit-user"><%= f.submit "Postear", class: "submit" %>
    </div>
  <% end %>
</div>
