<h2> Tus estadisticas: </h2>
<p> <%= @ong.nombreOng %> </p>
<p> Ultimos cinco subscriptores: </p>
<ul>
  <% @subs.each do |sub| %>
    <li> <%= link_to sub.nombreUsu, user_path(sub.id) %> </li>
  <% end %>
</ul>

<p> Post con mas enlistados: </p>
<h2> <%= @post.title %>: </h2>
<p> <%= @post.descPst %> </p>
<%= link_to "ver mas...", post_path(@post.id) %>

<p> Tus posts activos: </p>
<% @disp.each do |p| %>
  <h2> <%= p.title %>: </h2>
  <p> <%= p.descPst %> </p>
  <%= link_to "ver mas...", post_path(p.id) %>
<% end %>
