<h1> Registrar ONG </h1>
<div class="container">
  <%= form_for @ong, url: organization_index_path do |f| %>
    <div class="form">
      <%= f.text_field :nombreOng, placeholder: "Nombre",class: "input_text"%>
      <% @ong.errors[:nombreOng].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>

      <%= f.password_field :password, placeholder: "Contraseña",class: "input_text" %>
      <% @ong.errors[:password].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>

      <%= f.email_field :email, placeholder: "Direccion de Mail",class: "input_text" %>
      <% @ong.errors[:email].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>

      <%= f.telephone_field :tel, placeholder: "Telefono",class: "input_text" %>
      <% @ong.errors[:tel].each do |error| %>
        <span class="error">*<%= error %>
      <% end %>

      <%= f.submit "Registarse", class: "submit" %>
    </div>
  <% end %>
</div>
